@model IEnumerable<PetFinder.Web.Areas.Private.ViewModels.CommentPrivateViewModel>

<br />
<br />
<h2 class="text-primary">Моите коментари</h2>
<br />

@if (Model.Count() < 1)
{
    <h4 class="text-info">Все още нямате коментари.</h4>
}
else
{
    @Html.DisplayForModel()
}