@model IList<PetFinder.Web.ViewModels.Comments.CommentViewModel>

<div id="comments">    
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            @Html.DisplayForModel()
        </div>
    </div>
    <br />
</div>
