@model PetFinder.Web.ViewModels.Comments.CommentViewModel

<div class="well">
    <p>@Model.Content</p>
    <p>
        <small class="pull-left">от @Model.User</small>
        <small class="pull-right">@Model.CreatedOn</small>
    </p>
</div>