@model PetFinder.Web.ViewModels.Statistics.StatsViewModel

<p class="text-danger">Хора, търсещи изгубения си домашен любимец: <strong>@Model.LostPets</strong></p>
<p class="text-danger">Домашни любимци, търсещи стопанина си: <strong>@Model.FoundPets</strong></p>
<p class="text-success">Разрешени случаи до момента: <strong>@Model.SolvedCases</strong></p>
