<h1 class="text-danger">Възникна грешка при обработка на заявката.</h1>
<h2 class="text-danger"> Моля, опитайте по-късно.</h2>
<br />
<br />
<img src="~/Content/images/pet-finder-error.jpg" alt="Error image" class="img-responsive" />