@{
    ViewBag.Title = "Home Page";
}

<h1>
    <img src="~/Content/images/pet-finder-main.jpg" alt="App logo" class="img-responsive" />
</h1>
<br />
<div class="jumbotron">
    <h2 class="text-center h3">Мястото за всички изгубени или намерени домашни любимци.</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-6 col-md-offset-4">
        @Html.Action("BasicStats", "Statistics")
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <h3 class="text-center text-info">Последно изгубени</h3>
        @Html.Action("LastLostPosts")
    </div>
    <div class="col-md-6">
        <h3 class="text-center text-info">Последно намерени</h3>
        @Html.Action("LastFoundPets")
    </div>
</div>